.button {
    padding: 5px;
    background-color: aliceblue;
    border: solid black 1px;
}

.info {
    background-color: cornflowerblue;
    color: white;
    opacity: 0.7;
}

.success {
    background-color: forestgreen;
    color: white;
    opacity: 0.7;
}

.danger {
    background-color: darkred;
    color: white;
    opacity: 0.7;
}


.activeFilter {
    opacity: 1;
    border: 5px solid black;
}


.wewe {
    margin: 55px;
}